<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id = "app"></div>
</body>

<script>
    const app = Vue.createApp({ 
        data(){
            return{
                message:'bilibili' ,
                
            }
        },
        methods:{
            handleItemClick(){
                this.message = this.message == 'lk.com'?'里鸡':'lk.com'
            }
        },

        template:`
                <h2 @click = "handleItemClick" v-if= "message == 'lk.com'" class= "one">{{message}}</h2>
                <h2 @click = "handleItemClick" v-if= "message == '里鸡'" class = "two">{{message}}</h2>
                <h2 @click = "handleItemClick" v-if= "message == 'bilibili'" class = "three">{{message}}</h2>
        ` 
    }) //创建一个Vue实例
    const vm = app.mount("#app")
    
</script>
<style>
    .one{color: brown;}
    .two{color: chartreuse;}
    .three{color: coral;}
</style>
</html>